# Ignore all .log files
*.log

# Ignore build folder in FE
client/build/

# Ignore environment files
backend/.env
backend/app/.env
client/.env

# Ignore virtual environment folder
backend/venv/

# Ignore node_modules in FE
client/node_modules/


__pycache__/