# Ignore all .log files
*.log

# Ignore build folder in FE
FE/build/

# Ignore environment files
backend/.env
backend/app/.env
FE/.env

# Ignore virtual environment folder
backend/venv/

# Ignore node_modules in FE
FE/node_modules/
