.navLink {
    color: #fff; /* Màu chữ */
    text-decoration: none; /* Không gạch chân */
    margin: 0 15px; /* Khoảng cách giữa các link */
    font-size: 18px; /* Kích thước chữ */
    transition: color 0.3s; /* Hiệu ứng chuyển màu */
  }
  
  .navLink:hover {
    color: #28a745; /* Màu khi hover */
  }
  