* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  :root {
    --primary-color: #58cc02;
    --secondary-color: #f0f0f0;
    --text-color: #333;
  }
  