.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/hero-background.jpg');
    background-size: contain; /* Giữ nguyên tỉ lệ hình ảnh */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    background-position: center; /* Đặt hình ảnh ở giữa */
    background-color: black; /* Màu đen cho phần dư */
    text-align: center;
    color: white;
  }
  
  .getStartedButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .getStartedButton:hover {
    background-color: #45a049;
  }
  .loginButton {
    background-color: #007bff; /* Màu nền cho nút */
    color: white; /* Màu chữ */
    padding: 10px 20px; /* Padding */
    border: none; /* Không có border */
    cursor: pointer; /* Hiển thị con trỏ pointer khi hover */
    font-size: 16px; /* Kích thước chữ */
    margin-top: 20px; /* Khoảng cách trên */
  }
  
  .loginButton:hover {
    background-color: #0056b3; /* Màu nền khi hover */
  }
  