.mainPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    width: 100%;
  }
  
  .hero {
    flex: 1; /* Giúp hero section chiếm phần lớn không gian */
  }
  
  .features {
    padding: 40px 20px;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  