.optionsGrid {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Khoảng cách giữa các tùy chọn */
}

.optionCard {
  display: flex; /* Sử dụng flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.optionCard:hover {
  background-color: #f1f1f1; /* Đổi màu khi hover */
}

.selected {
  background-color: #4CAF50; /* Màu nền khi được chọn */
  color: white; /* Màu chữ khi được chọn */
}

